*{
    box-sizing: border-box;
}

body{
  
font-family: 'Poppins', sans-serif;
background-color: hsl(0, 0%, 98%);
  
}

header{
    max-width: 500px;
    text-align: center;
    margin: 50px auto;
}

h1{
    font-weight: 200;
    margin: 0;
}

h1 span{
    font-weight: 600;
}

p{
    font-weight: 200;
}

.container{
display: flex;
max-width:  1230px;
margin: 0 auto;
flex-wrap: wrap;
justify-content: center;
}

.box{
    background-color: white;
    padding: 30px;
    width: 350px;
    margin:20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.box::after{
    content:'';
     position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;

}

.box.box-red::after{
    background-color: hsl(0, 78%, 62%);
}
.box.box-cyan::after{
    background-color: hsl(180, 62%, 55%);
}
.box.box-orange::after{
    background-color:hsl(34, 97%, 64%);
}
.box.box-blue::after{
    background-color: hsl(212, 86%, 64%);
}

.box-push{
    transform: translateY(50%);
}

.box h2{
margin: 0;
}

.box img{
    display: block;
    margin-left: auto;
}

.box p{
    font-size: 13px;
    margin: 15px 0 40px;
}

@media (max-width: 775px){
        .box-push{
            transform: translateY(0);
        }
}